.back-btn {
  margin: 20px 0;
}

button.footer-link {
  font-size: 1rem;
  padding: 1.5px 6px;
}

.btn-box {
  display: flex;
  margin: 20px 0;
}

.btn-box ul {
  display: flex;
}

.btn-box li {
  margin-right: 10px;
}

.btn-box li:last-child {
  margin-right: 0;
}

.btn-box a.footer-link {
  width: max-content;
}