.button-top {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 75px;
  height: 75px;
  background-color: $colorBgCenterOpacity;
  color: $colorBgHeader;
  z-index: 3;
  cursor: pointer;
  border-radius: 6px;
  transition: $transition;
}

.button-top.show {
  display: flex;
}

.button-top:hover {
  background-color: $colorBgCenterOpacityHover;
  box-shadow: $boxShadowBtn;
}

.button-top:active {
  button: 22px;
}

.button-top svg {
  width: 30px;
  height: auto;
}

@media (max-width: 768px) {
  .button-top {
    bottom: 40px;
    right: 40px;
  }
}