.comment li {
    display: flex;
}

.user-img-box {
    position: relative;
    width: 70px;
    min-width: 70px;
    height: 70px;
    position: relative;
    background-color: $colorBgHeader;
    background-image: url(../images/icon/man.svg);
    overflow: hidden;
    margin-right: 6px;
    border-radius: 6px;
}

body.white .user-img-box {
    background-image: url(../images/icon/manWhite.svg);
}

.user-img-box img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.user-name {
    display: flex;
    align-items: center;
    color: $colorBgHeader;
    font-weight: 800;
    margin-right: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.comment ul {
    margin-top: 15px;
    padding: 6px;

}

.comment ul li {
    margin-bottom: 15px;
    position: relative;
    box-shadow: $boxShadowBtn;
}

.comment-box {
    display: flex;
    flex-direction: column;
    padding-top: 27px;
}

.news-footer-menu li {
    display: flex;
}

.news-footer-menu a {
    padding: 5px;
    font-weight: 800;
    border-radius: 6px;
    margin-right: 10px;
}

.news-footer-menu a:last-child {
    margin-right: 0;
}

.news-footer-menu a:hover,
.news-footer-menu a:focus,
.news-footer-menu a.active {
    background-color: $colorBgCenterOpacityHover;
}

.news-footer-menu a:hover,
.news-footer-menu a:focus, {
    box-shadow: $boxShadowBtn;
}

.user-comment {
    font-size: 1rem;
    line-height: 1.3rem;
}

.user-comment p {
    margin-top: 10px;
}

.comment-this-box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 26px;
    overflow: hidden;
    width: 100%;
    border-radius: 6px;
}

.comment-this::placeholder {
    color: $colorMain;
    font-family: $fontMain;
    font-size: 16px;
}

.comment-this-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    transition: background-color .2s ease-out;
}

.comment-this-box a:hover {
    background-color: $colorBgCenterOpacityHover;
}

.comment-this-box a svg {
    height: 16px;
    margin-right: 5px;
}

.comment-this-box a span {
    font-weight: 800;
}

.tab-menu-btn svg {
    margin-right: 3px;
}

.tab-menu-btn svg {
    width: 14px;
    height: 14px;
}

.user-name-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 82px;
}

.comment li {
    background-color: $colorMain;
    border-radius: 6px;
    padding: 6px;
}

body.white .comment li {
    background-color: $colorWhite;
}