.comment li {
    display: flex;
}

.user-img-box {
    position: relative;
    width: 70px;
    min-width: 70px;
    height: 70px;
    position: relative;
    background-color: $colorBgHeader;
    background-image: url(../images/icon/man.svg);
    overflow: hidden;
    margin-right: 15px;
}

body.white .user-img-box {
    background-image: url(../images/icon/manWhite.svg);
}

.user-img-box img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.user-name {
    display: flex;
    position: absolute;
    left: 85px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment ul {
    margin: 15px 0;
}

.comment ul li {
    margin-top: 15px;
    position: relative;
}

.comment ul li:first-child {
    margin-top: 0;
}

.comment-box {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.news-footer-menu li {
    display: flex;
}

.news-footer-menu a {
    padding: 5px;
    font-weight: 800;
    color: $colorMain;
}

body.white .news-footer-menu a {
    color: $colorWhite;
}

.news-footer-menu a.active {
    background-color: $colorBgNav;
}

.user-name span {
    color: $colorBgHeader;
    font-weight: 800;
    margin-right: 15px;
}

.user-comment {
    font-size: 1rem;
    line-height: 1.4rem;
}

.user-comment p {
    margin-top: 10px;
}

.comment-this-box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 26px;
    width: 100%;
    background-color: $colorBgHeader;
    overflow: hidden;
}

.comment-this::placeholder {
    color: $colorMain;
    font-family: $fontMain;
    font-size: 16px;
}

.comment-this-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $colorMain;
    fill: $colorMain;
    padding: 0 10px;
}

.comment-this-box a:hover {
    background-color: $colorBgNav;
}

.comment-this-box a svg {
    width: 24px;
    height: 24px;
}

.comment-this-box a span {
    font-weight: 800;
    margin-right: 5px;
}

body.white .comment-this-box a {
    color: $colorWhite;
    fill: $colorWhite;
}

.tab-menu-btn span {
    margin-right: 2px;
}

.tab-menu-btn svg {
    width: 14px;
    height: 14px;
}