.date-time-news,
.date-time-comment {
  display: inline-flex;
  font-weight: normal;
  color: $colorBgHeader;
  margin-bottom: 10px;
}

.date-time-comment {
  color: $colorGrey;
  margin-bottom: 0;
}

.date-time-news p,
.date-time-comment p {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.date-time-news p:last-child,
.date-time-comment p:last-child {
  margin-right: 0;
}

.date-time-news svg,
.user-name-box svg {
  height: 14px;
  width: 14px;
  margin-right: 5px;
}