body {
    background-color: $colorMain;
    min-width: 320px;
    font-family: $fontMain;
    color: $colorWhite;
}

*:focus {
    outline: none;
}

.container {
    max-width: $maxwidthContainer;
    margin: 0 auto;
    height: 100%;
    padding: 0 40px;
}

.header {
    background-color: $colorBgHeader;
    height: 100px;
    position: relative;
    z-index: 4;
}

button {
    border: none;
    background: transparent;
    color: $colorGrey;
    font-weight: 800;
    font-family: $fontMain;
    font-size: 14px;
    cursor: pointer;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    position: relative;
}

.header-logo {
    display: flex;
    width: 100px;
    height: 100px;
    z-index: 1;
}

.logo-img {
    display: flex;
    width: 100%;
    height: 100%;
}

.logo-img svg {
    width: 100%;
    height: 100%;
    fill: $colorMain;
}

.header-title {
    position: absolute;
    bottom: 0;
    right: 0;
    color: $colorMain;
    z-index: 2;
    line-height: 46px;
    font-weight: 800;
    font-size: 62px;
}

.header-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    background: $colorBgHeaderGradientDesc;
    -webkit-animation: bg 2s ease-out;
    animation: bg 2s ease-out;
}

.ship-img {
    width: 200px;
    height: 100px;
    background-image: url('../images/icon/ship.svg');
    background-repeat: no-repeat;
    background-position: 30px 10px;
    background-size: 155px;
    -webkit-animation: shop 2s ease-out;
    animation: ship 2s ease-out;
}

.main-box {
    width: 100%;
    padding: 50px 0;
    min-height: 200px;
}

.clearfix {
    clear: both;
}

a {
    color: $colorBgHeader;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

a:hover,
a:focus {
    color: $colorBgHeaderHover;
}

.unselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.news-footer-menu {
    display: flex;
    background-color: $colorBgHeader;
}

.news-box {
    display: flex;
    min-height: 330px;
}

cloudflare-app[app="back-to-top-button"] {
    z-index: 3 !important;
}

.body.hidden {
    overflow: hidden;
}

@media (min-width: 1024px) {
    .stat-box__last-news .div {
        width: 600px;
    }

    .stat-box__last-news {
        margin-bottom: 50px;
    }

    .stat-box__last-news .div,
    .stat-box__search-news .div {
        margin: 0 auto;
    }
}

@media (min-width: 769px) {
    .stat-box .stat-box__last-news a {
        height: 94px;
        padding: 5px 8px 5px 198px;
    }
    .stat-box .stat-box__last-news li {
        background-size: 190px 100%;
    }

    .stat-box .stat-box__last-news li {
        margin-bottom: 20px;
    }
}