.footer {
    margin-bottom: 50px;
}

.footer-box {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 22px;
}

ul.footer-box li {
    margin: 0 20px 0 0;
}
ul.footer-box li:last-child {
    margin: 0;
}


a.footer-link {
    display: flex;
    justify-content: center;
    background-color: $colorBgCenterOpacity;
    padding: 4px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: .2s ease-out;
    font-size: .8rem;
    font-weight: bold;
}

a.footer-link:hover {
    background-color: $colorBgCenterOpacityHover;
}

a.footer-link span:first-child {
  color: $colorWhite;
  margin-right: 5px;
}

body.white a.footer-link span:first-child {
  color: $colorMain;
}