.header-nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 80%;
    max-width: 400px;
    background-color: $colorMain;
    box-shadow: 20px 0px 100px black;
    display: none;
    opacity: 0;
    z-index: 8;
}

.header-nav.open {
    display: flex;
    opacity: 1;
}

body.white .header-nav {
    background-color: $colorWhite;
}

.header-nav-btn {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    right: 0;
    width: 30px;
    height: 26px;
    cursor: pointer;
    z-index: 9;
    transition: .2s ease-out;
}

.header-nav-btn div {
    width: 100%;
    height: 6px;
    border-radius: 2px;
    background-color: $colorMain;
    margin: auto 0;
}

body.white .header-nav-btn div {
    background-color: $colorWhite;
}

.header-nav-btn.open div {
    display: none;
    opacity: 0;
}

.header-nav-btn:before,
.header-nav-btn:after {
    content: '';
    position: absolute;
    height: 6px;
    border-radius: 2px;
    width: 100%;
    background-color: $colorMain;
    transition: .2s ease-out;
}

body.white .header-nav-btn:before,
body.white .header-nav-btn:after {
    background-color: $colorWhite;
}

.header-nav-btn:before {
    top: 0;
}

.header-nav-btn:after {
    bottom: 0;
}

.header-nav-btn.open {
    position: fixed;
    right: 10px;
}

.header-nav-btn.open:before {
    top: 10px;
    transform: rotate(45deg);
};

.header-nav-btn.open:after {
    bottom: 10px;
    transform: rotate(-45deg);
};

.header-nav__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    position: relative;
    background: $colorBgHeader;
    background: linear-gradient(0deg, $colorBgCenter 0%, $colorBgHeader 100%);
    overflow: hidden;
}

.btn-switch-theme {
    display: flex;
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin-right: 50px;
}

.dark-theme,
.white-theme {
    transition: .2s ease-out;
}

.dark-theme {
    width: 50px;
    height: 50px;
    opacity: 1;
}

.white-theme {
    width: 25px;
    height: 25px;
    opacity: .1;
}

body.white .dark-theme {
    width: 25px;
    height: 25px;
    opacity: .1;
    transform: rotate(45deg);
}

body.white .white-theme {
    width: 50px;
    height: 50px;
    opacity: 1;
    transform: rotate(45deg);
}

.dark-theme {
    fill: $colorMain;
}

.white-theme {
    fill: $colorWhite;
}

.btn-switch-font {
    width: 50px;
    height: 50px;
    cursor: pointer;
    fill: $colorMain;
}

body.white .btn-switch-font {
    fill: $colorWhite;
}

.btn-switch-font svg {
    transition: .2s;
}

.btn-switch-font.low svg {
    width: 20px;
    height: 20px;
}

.btn-switch-font.high svg {
    width: 30px;
    height: 30px;
}

.btn-switch-font.extra svg {
    width: 40px;
    height: 40px;
}

.btn-switch-font.ultra svg {
    width: 50px;
    height: 50px;
}