.log-in-box {
  display: block;
  text-align: center;
  color: #231f20;
  font-weight: 800;
}

.login-telegram {
  min-width: 60px;
  min-height: 60px;
  background-image: url("../images/icon/telegram-plane-brands.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  border-radius: 6px;
  overflow: hidden;
  margin: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.login-telegram img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
}

.login-telegram span {
  display: block;
  text-align: center;
  color: $colorMain;
  font-weight: 800;
}

body.white .login-telegram span {
  color: $colorWhite;
}

.user-buttons span {
  margin-right: initial;
}