.main-menu ul {
  border-radius: 6px;
  background-color: $colorBgCenterOpacity;
}

.main-menu svg {
  height: 18px;
  width: 18px;
  margin: 1px 5px 0 0;
}

.main-menu a {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: $transition;
}

.main-menu a:hover,
.main-menu a:focus {
  background-color: $colorBgCenterOpacityHover;
  box-shadow: $boxShadowBtn;
}