@media (max-width: 1280px) {
    .news-box__header-img,
    .news-render iframe {
        max-width: 300px;
        min-width: 300px;
        height: 200px;
    }
}

@media (max-width: 1024px) {

    .stat-box__news,
    .stat-box__last-news {
        flex-direction: column-reverse;
    }

    .stat-box__news .div,
    .stat-box__last-news .div{
        margin-right: 0;
        margin-bottom: 20px;
    }

    .stat-box__news .div:first-child,
    .stat-box__last-news .div:first-child{
        margin-bottom: 0;
    }

    .news-search {
      width: 100%;
    }
}

@media (max-width: 768px) {
    .header-box {
        flex-direction: column;
        align-items: center;
    }

    .header-title {
        bottom: -70px;
        right: initial;
        color: $colorBgHeader;
        left: inherit;
        flex-direction: column;
        margin-right: initial;
    }

    .logo-img {
        background-position: 50px 5px;
    }

    .body.white .header-title {
        color: $colorBgHeader;
    }
    
    .news-box__header-img {
        float: none;
        max-width: 100%;
        min-width: initial;
        width: 100%;
        height: 300px;
        margin: 0;
    }
    
    .news-box .news-box__header-img {
        margin: 0;
    }

    .footer-box {
        flex-direction: column;
        align-items: center;
    }

    .container {
        padding: 0 20px;
    }

    .news-box__header-img.view img {
        width: 100%;
        height: 100%;
    }

    .main-box {
        padding: 100px 0;
    }

    .footer {
        margin-bottom: 100px;
    }

    .footer-box p {
        margin: 15px 0;
    }

    .comment ul li {
        display: block;
    }

    .comment ul li:after {
        content: '';
        display: block;
        clear: both;
    }

    ul.footer-box li {
        margin: 0 0 10px 0;
    }

    .box-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .user-img-box {
        float: left;
    }

    .comment-box {
        display: block;
    }

    .news-box__header-title h2 {
        margin-top: 15px;
    }

    .count-description {
        display: none;
    }

    .stat-box__search-news.show {
        position: fixed;
        z-index: 4;
        padding: 20px;
        bottom: 0;
        background-color: $colorMain;
    }

    body.white .stat-box__search-news.show {
        background-color: $colorWhite;
    }

    .news-search li:first-child {
        margin-top: 0;
    }

    .div.news-search li:last-child {
        margin-bottom: 0;
    }

    .box-scroll {
        height: calc(100% - 55px);
        overflow: hidden;
        overflow-y: auto;
        margin: 20px 0;
        border-radius: 6px;
    }

    .stat-box.search .search-news-btn {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 4;
    }

    .not-found-box {
      margin-top: 100px;
    }

    .footer-media.show img {
        width: 100%;
        height: 100%;
    }

    .count-title {
        font-size: .9rem;
        line-height: 1rem;
        padding-bottom: 0;
    }

    .user-img-box {
        width: 33px;
        min-width: 33px;
        height: 33px;
    }

    .user-name-box {
        left: 46px;
    }

    .news-render iframe {
        max-width: 100%;
        min-width: initial;
        width: 100%;
        height: 200px;
    }

    .profile-box {
        display: flex;
        flex-direction: column;
    }

    .menu-profile {
        margin-right: initial;
        margin-bottom: 20px;
    }

    .user-buttons ul {
        display: block;
    }

    .user-buttons li {
        margin-right: initial;
        margin-bottom: 6px;
    }

    .user-buttons li:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 520px) {
    .header-title {
        transform: scale(0.7);
        bottom: -70px;
    }

    .main-box {
        display: flex;
        flex-direction: column;
    }

    .news-box .news-box__header-img {
        height: 200px;
    }
}