@media (max-width: 1280px) {
    .news-box__header-img {
        max-width: 300px;
        min-width: 300px;
        height: 200px;
    }
}

@media ((min-width: 769px),(max-width: 1024px)) {
    .stat-box__news li {
      background-size: 60px 100%;
    }

    .stat-box__news a {
        padding: 5px 8px 5px 66px;
    }
}

@media (max-width: 768px) {
    .header-box {
        flex-direction: column;
        align-items: center;
    }

    .header-title {
        bottom: -70px;
        right: initial;
        color: $colorBgHeader;
        left: inherit;
        flex-direction: column;
    }

    .logo-img {
        background-position: 50px 5px;
    }

    .body.white .header-title {
        color: $colorBgHeader;
    }
    
    .news-box__header-img {
        float: none;
        max-width: 100%;
        min-width: initial;
        width: 100%;
        height: 300px;
        margin: 0;
    }
    
    .news-box .news-box__header-img {
        margin: 0;
    }

    .footer-box {
        flex-direction: column;
        align-items: center;
    }

    .container {
        padding: 0 20px;
    }

    .news-box__header-img.view img {
        width: 100%;
        height: 100%;
    }

    .main-box {
        padding: 100px 0;
    }

    .footer {
        margin-bottom: 100px;
    }

    .footer-box p {
        margin: 15px 0;
    }

    .comment ul li {
        display: block;
    }

    .comment ul li:after {
        content: '';
        display: block;
        clear: both;
    }

    ul.footer-box li {
        margin: 5px 0;
    }

    .box-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .user-img-box {
        float: left;
    }

    .comment-box {
        display: block;
    }

    .news-box__header-title h2 {
        margin-top: 15px;
    }

    .stat-box__news {
        flex-direction: column-reverse;
    }

    .stat-box__news div {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .stat-box__news div:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 520px) {
    .header-title {
        transform: scale(0.7);
        bottom: -70px;
    }

    .main-box {
        display: flex;
        flex-direction: column;
    }

    .news-box .news-box__header-img {
        height: 200px;
    }
}