.news-box__header-img {
    position: relative;
    width: 500px;
    height: 300px;
    max-width: 500px;
    min-width: 300px;
    background-color: $colorBgHeader;
    overflow: hidden;
    display: inline-flex;
    z-index: 3;
    margin-right: 10px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.news-box .news-box__header-img.view {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: none;
    margin: 0;
    border: none;
    background-color: $colorBgImage;
    z-index: 5;
}

.white .news-box .news-box__header-img.view {
    background-color: $colorWhiteOpacity;
}

.news-box__header-img img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.news-box__header-img.view img {
    width: auto;
    height: auto;
    max-width: 1500px;
    max-height: 900px;
    margin: auto;
    object-fit: contain;
}

.news-box .news-box__header-img {
    margin: 0 15px 0 0;
}

.news-box__header-img {
    border-radius: 6px;
}

.news-box__header-img.view {
    border-radius: initial;
}

.news-box__header-title {
    font-weight: 800;
}

.news-box__header-title h1 {
    font-size: 30px;
}

.news-box__header-title h2 {
    font-size: 20px;
}

.news-box__body-text {
    font-size: 16px;
    line-height: 22px;
}

.news-box__body-text p,
.news-box__header-title h1,
.news-box__header-title h2 {
    margin-bottom: 20px;
}

.news-box__body-text ul {
    margin-bottom: 15px;
}

.news-render strong,
.news-render a {
    font-weight: 800;
}

.news-render em {
    font-style: italic;
}

.news-render {
    overflow: hidden;
}

.news-render ul {
    list-style: outside;
}

.news-render ul li {
    margin-right: 20px;
}