.news-box__header-img {
    position: relative;
    width: 500px;
    height: 300px;
    max-width: 500px;
    min-width: 300px;
    border-top: 5px solid $colorBgHeader;
    border-bottom: 5px solid $colorBgHeader;
    background-color: $colorBgHeader;
    overflow: hidden;
    display: inline-flex;
    z-index: 3;
    margin-right: 10px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news-box .news-box__header-img.view {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: none;
    margin: 0;
    border: none;
    background-color: $colorBgImage;
    z-index: 5;
}

.news-box__header-img:after,
.news-box__header-img:before {
    display: none;
    color: $colorBgHeader;
    background-color: $colorBgImage;
    padding: 5px;
    font-size: 15px;
    font-weight: 800;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-repeat: no-repeat;
}

.white .news-box__header-img:after {
    background-color: $colorWhiteOpacity;
}

.white .news-box__header-img:before {
    background-color: $colorWhiteOpacity;
}

.white .news-box .news-box__header-img.view {
    background-color: $colorWhiteOpacity;
}

.news-box__header-img:hover:after {
    content: '';
    display: flex;
    bottom: 0;
    left: 0;
    background-image: url('../images/icon/search-plus-solid.svg'); 
    background-size: 35px;
    background-position: center;
}

.news-box__header-img.view:after {
    display: none;
}

.news-box__header-img.view:before {
    content: '';
    display: flex;
    background-image: url('../images/icon/times-solid.svg');
    background-size: 20px;
    background-position: center;
    width: 25px;
    height: 25px;
}

.news-box__header-img img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.news-box__img.zoom {
    animation: zoomImg 300ms ease-out;
    transform: scale(1.1)
}
.news-box__img.zoomout {
    animation: zoomoutImg 300ms ease-out;
}

.news-box__header-img.view img {
    width: auto;
    height: auto;
    max-width: 1500px;
    max-height: 900px;
    margin: auto;
    object-fit: contain;
}

.news-box .news-box__header-img {
    margin: 0 15px 0 0;
}

.news-box__header-title {
    font-weight: 800;
}

.news-box__header-title h1 {
    font-size: 30px;
}

.news-box__header-title h2 {
    font-size: 20px;
}

.news-box__body-text {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 5px;
}

.news-box__body-text p {
    margin: 15px 0;
}

.news-title {
    margin: 15px 0;
}

.news-box__header-title h1 {
    margin: 0 0 15px 0;
}

.news-render strong,
.news-render a {
    font-weight: 800;
}

.news-render em {
    font-style: italic;
}