.author svg,
.author_c svg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  color: $colorBgHeader;
}

noindex a {
  color: $colorBgHeader;
  cursor: default;
}

noindex a:hover,
noindex a:focus {
  color: $colorBgHeader;
}

.author p,
.author_c p {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}