.popup-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: $colorMain;
}

body.white .popup-box {
  background-color: $colorWhite;
}

.popup-box.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-close {
  position: absolute;
  display: block;
  width: 30px;
  height: 26px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
}

.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  height: 6px;
  border-radius: 2px;
  width: 100%;
  background-color: $colorBgHeader;
  transform: rotate(45deg);
}

.popup-close::before {
  top: 10px;
  transform: rotate(45deg);
}

.popup-close::after {
  bottom: 10px;
  transform: rotate(-45deg);
}

.popup-telegram {
  display: none;
}

.popup-telegram.show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.popup-telegram-box ul li:first-child {
  margin-bottom: 20px;
  border: none;
}

.popup-telegram-box ul li:last-child {
  border: none
}

.popup-telegram-box ul li {
  margin-bottom: 10px;
  border-bottom: $colorBgHeader 2px solid;
  text-align: center;
}

.popup-telegram-box ul li:last-child {
  margin-bottom: 0;
}

.popup-telegram-box span {
  font-size: 1.5rem;
}

.popup-telegram-box img {
  width: 10rem;
}