@media print {
    .header-nav,
    .news-box__header-img {
        display: none;
    }

    .header {
        height: 0;
    }

    .body {
        color: black;
    }

    .header-log,
    .footer,
    .user-img-box,
    .comment-this-box {
        display: none;
    }
}