.profile-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.menu-profile {
  margin-right: 20px;
}
.menu-profile ul {
  margin-bottom: 10px;
}

.menu-profile ul:last-child {
  margin-bottom: 10px;
}

.user-post li {
  margin-bottom: 10px;
}

.user-post li:last-child {
  margin-bottom: 0;
}

.post-detail {
  margin-bottom: 6px;
}

.user-buttons ul {
  display: flex;
}

.user-buttons li {
  margin-right: 6px;
}

.user-buttons li:last-child {
  margin-right: 0;
}