.news-search {
  width: 50%;
}

.search-box {
  color: $colorBgHeader;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 27px;
  width: 108px;
}

.search-box.show {
  width: 100%;
}

.search-box input {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    color: $colorBgHeader;
    padding: 0;
    width: 80px;
}

.search-box input::placeholder {
  color: $colorBgHeader;
}

.search-news-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 6px;
  transition: background-color .2s ease-out;
}
.search-news-btn:hover {
  background-color: $colorBgCenterOpacityHover;
}

.search-news-btn svg {
  height: 26px;
}