.stat-box__search-news {
  display: none;
  z-index: 1;
}

.stat-box__search-news.show {
  display: flex;
}

.news-search {
  width: 600px;
  background-color: $colorBgDark;
  z-index: 1;
  border-radius: 6px;
  overflow: hidden;
}

body.white .news-search {
  background-color: $colorWhiteOpacity;
}

.search-box {
  color: $colorBgHeader;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 27px;
  padding: 4px 8px;
  border-radius: 6px;
  overflow: hidden;
  background-color: $colorBgCenterOpacity;
}

.search-box.show {
  width: 100%;
}

.search-box input {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    color: $colorBgHeader;
    padding: 0;
    width: 100%;
}

.search-box input::placeholder {
  color: $colorBgHeader;
}

.search-news-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 6px;
  transition: background-color .2s ease-out;
  cursor: pointer;
  position: absolute;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
}
.search-news-btn:hover {
  background-color: $colorBgCenterOpacityHover;
}

.search-news-btn svg {
  height: 26px;
  margin: 0;
}