.share ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: $colorBgCenterOpacity;
}

.share a {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: .2s ease-out;
}

.share li {
  margin-right: 10px;
}

.share li:last-child {
  margin-right: 0;
}

.share a:hover {
  background-color: $colorBgCenterOpacityHover;
  color: $colorBgHeaderHover;
  fill: $colorBgHeaderHover;
}