.stat-box__news {
  display: flex;
}

.stat-box__news div {
  margin-right: 20px;
}

.stat-box__news div:last-child {
  margin-right: 0;
}

.stat-box__news h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  color: $colorBgHeader;
}

.stat-box__news li {
  margin-bottom: 10px;
  background-color: $colorBgCenterOpacity;
  transition: .2s ease-out;
}

.stat-box__news li:hover {
  background-color: $colorBgCenterOpacityHover;
}

.stat-box__news li:last-child {
  margin-bottom: 0;
}

.stat-box__news a {
  display: flex;
  flex-direction: column;
  color: $colorWhite;
}

body.white .stat-box__news a {
  color: $colorMain;
}

.count-title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: initial;
  margin-bottom: 3px;
}

.stat-box__news a div {
  display: flex;
}

.stat-box__news a div svg {
  height: 12px;
  margin-right: 3px;
}

.stat-box__news a div p {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.stat-box__news a div p:last-child {
  margin-right: 0;
}

.count-view span {
  font-size: 12px;
}