.stat-box {
  position: relative;
}

.stat-box__news {
  display: flex;
  justify-content: center;
}

.stat-box__last-news .div {
  margin-bottom: 20px;
}

.stat-box__news .div {
  margin-right: 20px;
}

.stat-box__news .div:last-child {
  margin-right: 0;
}

.stat-box__last-news {
  margin-bottom: 20px;
}

.stat-box h2  {
  font-size: 1.5rem;
  font-weight: bold;
}

.stat-box li {
  margin-bottom: 10px;
  border-radius: 6px;
  height: auto;
  background-image: url("../images/pre-img-news.jpg");
  background-repeat: no-repeat;
  background-size: 100px 100%;
}

.stat-box li:last-child {
  margin-bottom: 0;
}

.stat-box a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $colorWhite;
  padding: 5px 8px 5px 108px;
  background-color: $colorBgCenterOpacity;
  height: 47px;
  transition: background-color $transition, box-shadow $transition;
  border-radius: 6px;
}

.stat-box a:hover,
.stat-box a:focus {
  background-color: $colorBgCenterOpacityHover;
  box-shadow: $boxShadowBtn;
}

body.white .stat-box a {
  color: $colorMain;
}

.count-title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: initial;
  padding-bottom: 2px;
}

.count-description {
  margin-top: 10px;
  font-size: .8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: initial;
  padding-bottom: 1px;
}

.count-footer {
  display: flex;
  color: $colorBgHeader;
}

.stat-box a div svg{
  height: 12px;
  margin-right: 3px;
}

.count-view,
.count-comment {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.stat-box a div p:last-child {
  margin-right: 0;
}

.count-view span,
.count-comment span {
  font-size: 12px;
}

.stat-title {
  color: $colorBgHeader;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 20px;
  background-color: rgba(60, 195, 253, 0.13);
  border-radius: 6px;
  padding: 4px 8px;
  position: relative;
}

.stat-title svg,
.search-box svg {
  height: 26px;
  margin: 1px 10px 0 0;
}