.elem-bg-red {
  background-color: $colorRed !important;
}

.elem-bg-red:hover,
.elem-bg-red:focus {
  background-color: $colorRedHover !important;
  box-shadow: $colorRedShadow !important;
}

.delete-post-box {
  display: grid;
  grid-template-columns: 1fr;
}

.delete-post-box h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.delete-post-box h2 span {
  display: block;
  margin-bottom: 10px;
  color: $colorRedHover;
}

.delete-post-box ul {
  display: flex;
  justify-content: center;
  width: 280px;
}

.delete-post-box li {
  margin-right: 20px;
}

.delete-post-box li:last-child {
  margin-right: 0;
}

.delete-post-box button,
.delete-post-choice a {
  border-radius: 6px;
  color: $colorWhite;
  font-size: 1rem;
}

.delete-post-choice button {
  color: $colorWhite;
}

body.white .delete-post-box button {
  color: $colorMain;
}

.delete-post-choice {
  width: 100%;
  display: flex;
  justify-content: center;
}

.delete-post-choice a.footer-link span:first-child {
  margin-right: initial;
}

.title-edit input,
.description-create input {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $colorBgHeader;
  color: $colorWhite;
}

.description-create input {
  font-size: 1.5rem;
}

body.white .title-edit input,
body.white .description-create input {
  color: $colorMain;
}

.create-box {
  max-width: 500px;
  margin: 0 auto;
}