.elem-bg-red {
  background-color: $colorRed !important;
}

.elem-bg-red:hover,
.elem-bg-red:focus {
  background-color: $colorRedHover !important;
  box-shadow: $colorRedShadow !important;
}

.delete-post-box {
  display: grid;
  grid-template-columns: 1fr;
}

.delete-post-box h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.delete-post-box h2 span {
  display: block;
  margin-bottom: 20px;
  color: $colorRedHover;
}

.delete-post-box ul {
  display: flex;
  justify-content: center;
}

.delete-post-box li {
  margin-right: 20px;
}