.switch-theme {
    display: flex;
    width: 100px;
    color: $colorMain;
    z-index: 5;
    padding: 5px 5px 0 5px;
    background-color: $colorBgNav;
    position: absolute;
    left: 20px;
    bottom: 0;
    font-weight: bold;
}

.switch-theme ul {
    display: flex;
}

.body.dark .btn-dark,
.body.white .btn-white {
    background: $colorMain;
    color: $colorBgHeader;
}

body.white {
    background-color: $colorWhite;
}

body.white .news-box {
    color: $colorMain;
}

.body.white .btn-white {
    background-color: $colorWhite;
}

.body.white .header-title {
    color: $colorWhite;
}

.body.white .logo-img {
    fill: $colorWhite;
}

.switch-theme:hover {
    cursor: pointer;
}

.switch-theme span {
    display: inline-flex;
    padding: 2px 5px 0 5px;
    width: 100%;
}

body.white {
    color: $colorMain;
}