.switch-theme {
    display: flex;
    justify-content: center;
    min-width: 100px;
    color: $colorMain;
    z-index: 5;
    background-color: $colorBgDark;
    position: absolute;
    left: 20px;
    bottom: 0;
    font-weight: bold;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.switch-theme ul {
    display: flex;
}

.body.dark .btn-dark,
.body.white .btn-white {
    background: $colorMain;
    color: $colorBgHeader;
}

body.white {
    background-color: $colorWhite;
}

body.white .news-box {
    color: $colorMain;
}

.body.white .btn-white {
    background-color: $colorWhite;
}

.body.white .header-title {
    color: $colorWhite;
}

.body.white .logo-img svg {
    fill: $colorWhite;
}

.switch-theme:hover {
    cursor: pointer;
}

.switch-theme span {
    display: flex;
    justify-content: center;
    padding: 3px 5px 0 5px;
    width: 100%;
}

.switch-theme span {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: $colorWhite;
}

body.white .switch-theme span {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: $colorMain;
}

body.white {
    color: $colorMain;
}