iframe .tgme_widget_message_bubble {
  border: 1px solid $colorBgNav !important;
  background: transparent !important;
  border-radius: initial !important;
}

.main-box iframe {
  margin-bottom: 13px !important;
}

.main-box iframe:last-child {
  margin-bottom: 0 !important;
}

.body.dark iframe .link_preview_title,
.body.dark iframe .link_preview_description {
  color: $colorWhite !important;
}

iframe .tgme_widget_message_bubble_tail,
iframe .tgme_widget_message_user {
  display: none !important;
}

iframe .tgme_widget_message_bubble {
  margin: 0 !important;
}