$fontMain: 'Segoe UI Regular', 'Main', Tahoma, Geneva, Verdana, sans-serif;
$colorWhite: white;
$colorBlack: black;
$colorGrey: Grey;
$colorGreyWhite: rgb(189, 189, 189);
$colorWhiteOpacity: rgba(255, 255, 255, 0.8);
$colorTitle: rgba(10, 10, 10, 0);
$colorText: rgba(49, 49, 49, 0);
$colorBackground: rgba(197, 197, 197, 0);
$colorMain: #231f20;
$colorBgHeader: #0694d4;
$colorBgHeaderOpacity: #0693d441;
$colorBgDark: #006bab;
$colorBgCenter: #3dc5ff;
$colorBgCenterOpacity: rgba(60, 195, 253, 0.13);
$colorBgCenterOpacityHover: rgba(60, 195, 253, 0.33);
$colorBgHeaderHover: #00aeff;
$colorBgHeaderHoverOpacity: RGBA(6,148,212,0.2);
$colorBgNav: rgba(60, 193, 255, 0.67);
$colorBgImage: #231f20cb;
$colorBgHeaderGradient: linear-gradient(90deg, rgba(6, 148, 212, 0) 0%, #1bb9ff 50%, rgba(6, 148, 212, 0) 75%);
$colorBgHeaderGradientDesc: linear-gradient(90deg, rgba(6,148,212,0) 0%, rgb(61, 197, 255) 50%, rgba(6,148,212,0) 90%);
$linkMainLogo: '../images/mainLogo.jpg';
$linkNewsLogo: '../images/newsLogo/newsLogo.jpg';
$maxwidthContainer: 1200px;
$boxShadowBtn: 0px 0px 6px rgb(60 195 253 / 50%);
$transition: .2s ease-out;