.body.onload {
    overflow: hidden;
    position: relative;
}

.onload::before {
    content: '';
    display: block;
    background-color: #0694d4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    transition: .2s;
    overflow: hidden;
    animation: loader ease-in-out 2s infinite;
}

.onload.ready::before {
    opacity: 0;
}

@keyframes loader {
    0% {
        background-color: #0694d4;
    }
    33% {
        background-color: #0694d4;
    }
    66% {
        background-color: #3dc5ff;
    }
    100% {
        background-color: #0694d4;
    }
}