@font-face {
  font-family: "Main";
  src: url("../fonts/subset-SegoeUI.eot");
  src: url("../fonts/subset-SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-SegoeUI.woff2") format("woff2"), url("../fonts/subset-SegoeUI.woff") format("woff"), url("../fonts/subset-SegoeUI.ttf") format("truetype"), url("../fonts/subset-SegoeUI.svg#SegoeUI") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
body {
  background-color: #231f20;
  min-width: 320px;
  font-family: "Segoe UI Regular", "Main", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

*:focus {
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 40px;
}

.header {
  background-color: #0694d4;
  height: 100px;
  position: relative;
  z-index: 4;
}

button {
  border: none;
  background: transparent;
  color: Grey;
  font-weight: 800;
  font-family: "Segoe UI Regular", "Main", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  position: relative;
}

.header-logo {
  display: flex;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.logo-img {
  display: flex;
  width: 100%;
  height: 100%;
}

.logo-img svg {
  width: 100%;
  height: 100%;
  fill: #231f20;
}

.header-title {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #231f20;
  z-index: 2;
  line-height: 46px;
  font-weight: 800;
  font-size: 62px;
  margin-right: 110px;
}

.hide-elem {
  height: 0px;
  width: 0px;
  font-size: 0px;
}

.header-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(6, 148, 212, 0) 0%, #3dc5ff 50%, rgba(6, 148, 212, 0) 90%);
  animation: bg 2s ease-out;
}

.ship-img {
  width: 200px;
  height: 100px;
  background-image: url("../images/icon/ship.svg");
  background-repeat: no-repeat;
  background-position: 30px 10px;
  background-size: 155px;
  animation: ship 2s ease-out;
}

.main-box {
  width: 100%;
  padding: 40px 0;
  min-height: 200px;
}

.clearfix {
  clear: both;
}

a {
  color: #0694d4;
  fill: #0694d4;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

a:hover,
a:focus {
  color: #00aeff;
  fill: #00aeff;
}

a.active {
  color: #00aeff;
  fill: #00aeff;
}

.unselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.news-footer-menu {
  display: flex;
  border-radius: 6px;
}

cloudflare-app[app=back-to-top-button] {
  z-index: 3 !important;
}

.body.hidden {
  overflow: hidden;
}

.news-footer-box {
  margin-bottom: 50px;
  background-color: rgba(60, 195, 253, 0.13);
  border-radius: 6px;
}

.main-box-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (min-width: 1024px) {
  .stat-box__last-news .div {
    width: 600px;
  }

  .stat-box__last-news {
    margin-bottom: 50px;
  }

  .stat-box__last-news .div,
.stat-box__search-news .div {
    margin: 0 auto;
  }
}
@media (min-width: 769px) {
  .stat-box .stat-box__last-news a {
    height: 94px;
    padding: 5px 8px 5px 198px;
  }

  .stat-box .stat-box__last-news li {
    background-size: 190px 100%;
  }

  .stat-box .stat-box__last-news li {
    margin-bottom: 20px;
  }
}
.share {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-max-content;
  width: max-content;
  margin: 0 auto 20px;
  border-radius: 6px;
  background-color: rgba(60, 195, 253, 0.13);
}

.share ul {
  display: flex;
}

.share a {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: 0.2s ease-out;
  cursor: pointer;
}

.share span {
  color: #0694d4;
  padding: 8px;
  font-weight: bold;
}

.share svg {
  width: 24px;
  height: 24px;
}

.share a:hover,
.share a:focus {
  background-color: rgba(60, 195, 253, 0.33);
  color: #00aeff;
  fill: #00aeff;
  box-shadow: 0px 0px 6px rgba(60, 195, 253, 0.5);
}

.author svg,
.author_c svg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  color: #0694d4;
}

noindex a {
  color: #0694d4;
  cursor: default;
}

noindex a:hover,
noindex a:focus {
  color: #0694d4;
}

.author p,
.author_c p {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.footer {
  margin-bottom: 40px;
}

.footer-box {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
}

ul.footer-box li {
  margin: 0 20px 0 0;
}

ul.footer-box li:last-child {
  margin: 0;
}

a.footer-link,
button.footer-link {
  display: flex;
  justify-content: center;
  background-color: rgba(60, 195, 253, 0.13);
  padding: 4px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.2s ease-out;
  font-size: 0.8rem;
  font-weight: bold;
}

a.footer-link:hover,
a.footer-link:focus,
button.footer-link:hover,
button.footer-link:focus {
  background-color: rgba(60, 195, 253, 0.33);
  box-shadow: 0px 0px 6px rgba(60, 195, 253, 0.5);
}

a.footer-link span:first-child {
  color: white;
  margin-right: 5px;
}

body.white a.footer-link span:first-child {
  color: #231f20;
}

.button.footer-link {
  color: white;
}

body.white .button.footer-link {
  color: #231f20;
}

.news-box {
  display: flex;
}

.news-box__header-img {
  position: relative;
  width: 500px;
  height: 300px;
  max-width: 500px;
  min-width: 300px;
  background-color: #0694d4;
  overflow: hidden;
  display: inline-flex;
  z-index: 3;
  margin-right: 10px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.news-box__header-img:hover,
.news-box__header-img:focus {
  box-shadow: 0px 0px 6px rgba(60, 195, 253, 0.5);
}

.news-box .news-box__header-img.view {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-width: none;
  margin: 0;
  border: none;
  background-color: #231f20cb;
  z-index: 5;
}

.white .news-box .news-box__header-img.view {
  background-color: rgba(255, 255, 255, 0.8);
}

.news-box__header-img img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.news-box__header-img.view img {
  width: auto;
  height: auto;
  max-width: 1500px;
  max-height: 900px;
  margin: auto;
  object-fit: contain;
}

.news-box .news-box__header-img {
  margin: 0 15px 0 0;
}

.news-box__header-img {
  border-radius: 6px;
}

.news-box__header-img.view {
  border-radius: initial;
}

.news-box__header-title {
  font-weight: 800;
}

.news-box__header-title h1 {
  font-size: 30px;
}

.news-box__header-title h2 {
  font-size: 20px;
}

.news-box__body-text {
  font-size: 16px;
  line-height: 22px;
}

.news-box__body-text p,
.news-box__header-title h1,
.news-box__header-title h2 {
  margin-bottom: 20px;
}

.news-box__body-text ul {
  margin-bottom: 15px;
}

.news-render strong,
.news-render a {
  font-weight: 800;
}

.news-render em {
  font-style: italic;
}

.news-render ul {
  list-style: disc inside;
}

.news-render ul li {
  margin-bottom: 10px;
}

.news-render a {
  display: initial;
}

.news-render {
  overflow: hidden;
  width: 100%;
}

.news-render iframe {
  display: flex;
  margin: 20px auto;
  border-radius: 6px;
  width: 500px;
  height: 300px;
  max-width: 500px;
  min-width: 300px;
}

.date-time-news,
.date-time-comment {
  display: inline-flex;
  font-weight: normal;
  color: #0694d4;
}

.date-time-comment {
  font-size: 0.8rem;
  color: Grey;
  margin-top: 5px;
  margin-bottom: 0;
}

.date-time-news p,
.date-time-comment p {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.date-time-news p:last-child,
.date-time-comment p:last-child {
  margin-right: 0;
}

.date-time-news svg,
.user-name-box svg {
  height: 14px;
  width: 14px;
  margin-right: 5px;
}

.user-name-box .date-time-comment svg {
  height: 10px;
  width: 10px;
}

.stat-box {
  position: relative;
}

.stat-box__news,
.stat-box__last-news {
  display: flex;
  justify-content: center;
}

.stat-box__last-news .div {
  margin-bottom: 20px;
}

.stat-box__news .div {
  margin-right: 20px;
}

.stat-box__news .div:last-child {
  margin-right: 0;
}

.stat-box__last-news {
  margin-bottom: 20px;
}

.stat-box h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.stat-box li {
  margin-bottom: 10px;
  border-radius: 6px;
  height: auto;
  background-image: url("../images/pre-img-news.jpg");
  background-repeat: no-repeat;
  background-size: 100px 100%;
}

.stat-box li:last-child {
  margin-bottom: 0;
}

.stat-box a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 5px 8px 5px 108px;
  background-color: rgba(60, 195, 253, 0.13);
  height: 47px;
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
  border-radius: 6px;
}

.stat-box a:hover,
.stat-box a:focus {
  background-color: rgba(60, 195, 253, 0.33);
  box-shadow: 0px 0px 6px rgba(60, 195, 253, 0.5);
}

body.white .stat-box a {
  color: #231f20;
}

.count-title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: initial;
  padding-bottom: 2px;
}

.count-description {
  margin-top: 10px;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: initial;
  padding-bottom: 1px;
}

.count-footer {
  display: flex;
  color: #0694d4;
}

.stat-box a div svg {
  height: 12px;
  margin-right: 3px;
}

.count-view,
.count-comment {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.stat-box a div p:last-child {
  margin-right: 0;
}

.count-view span,
.count-comment span {
  font-size: 12px;
}

.stat-title {
  color: #0694d4;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 20px;
  background-color: rgba(60, 195, 253, 0.13);
  border-radius: 6px;
  padding: 4px 8px;
  position: relative;
}

.stat-title svg,
.search-box svg {
  height: 26px;
  margin: 1px 10px 0 0;
}

.log-in-box {
  display: block;
  text-align: center;
  color: #231f20;
  font-weight: 800;
  opacity: 0;
}

.login-telegram {
  min-width: 60px;
  min-height: 60px;
  background-image: url("../images/icon/telegram-plane-brands.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  border-radius: 6px;
  overflow: hidden;
  margin: 20px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.login-telegram img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
}

.login-telegram span {
  display: block;
  text-align: center;
  color: #231f20;
  font-weight: 800;
}

body.white .login-telegram span {
  color: white;
}

.user-buttons span {
  margin-right: initial;
}

.elem-bg-red {
  background-color: rgba(255, 26, 26, 0.3) !important;
}

.elem-bg-red:hover,
.elem-bg-red:focus {
  background-color: rgba(255, 26, 26, 0.4) !important;
  box-shadow: 0px 0px 6px rgba(255, 26, 26, 0.4) !important;
}

.delete-post-box {
  display: grid;
  grid-template-columns: 1fr;
}

.delete-post-box h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.delete-post-box h2 span {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 26, 26, 0.4);
}

.delete-post-box ul {
  display: flex;
  justify-content: center;
  width: 280px;
}

.delete-post-box li {
  margin-right: 20px;
}

.delete-post-box li:last-child {
  margin-right: 0;
}

.delete-post-box button,
.delete-post-choice a {
  border-radius: 6px;
  color: white;
  font-size: 1rem;
}

.delete-post-choice button {
  color: white;
}

body.white .delete-post-choice button {
  color: #231f20;
}

.delete-post-choice {
  width: 100%;
  display: flex;
  justify-content: center;
}

.delete-post-choice a.footer-link span:first-child {
  margin-right: initial;
}

.title-create input,
.description-create input {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #0694d4;
  color: white;
}

.description-create input {
  font-size: 1.5rem;
}

body.white .title-create input,
body.white .description-create input {
  color: #231f20;
}

.create-box {
  max-width: 500px;
  margin: 0 auto;
}

.back-btn {
  margin: 20px 0;
}

button.footer-link {
  font-size: 1rem;
  padding: 1.5px 6px;
}

.btn-box {
  display: flex;
  margin: 20px 0;
}

.btn-box ul {
  display: flex;
}

.btn-box li {
  margin-right: 10px;
}

.btn-box li:last-child {
  margin-right: 0;
}

.btn-box a.footer-link {
  width: -webkit-max-content;
  width: max-content;
}

.news-box.view {
  flex-direction: column;
}

.profile-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.menu-profile {
  margin-right: 20px;
}

.menu-profile ul {
  margin-bottom: 10px;
}

.menu-profile ul:last-child {
  margin-bottom: 10px;
}

.user-post li {
  margin-bottom: 10px;
}

.user-post li:last-child {
  margin-bottom: 0;
}

.post-detail {
  margin-bottom: 6px;
}

.user-buttons ul {
  display: flex;
}

.user-buttons li {
  margin-right: 6px;
}

.user-buttons li:last-child {
  margin-right: 0;
}

.popup-box {
  display: none;
}

.popup-box show {
  display: block;
}

.popup-close {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9;
  transition: 0.2s ease-out;
}

.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  height: 6px;
  border-radius: 2px;
  width: 100%;
  background-color: #0694d4;
  transform: rotate(45deg);
}

.popup-close::before {
  top: 10px;
  transform: rotate(45deg);
}

.popup-close::after {
  bottom: 10px;
  transform: rotate(-45deg);
}

.popup-telegram-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #231f20;
}

.popup-telegram-container.show {
  display: flex;
}

body.white .popup-telegram-container {
  background-color: white;
}

.create-box-ul li {
  margin-bottom: 10px;
}

.create-box-ul li:last-child {
  margin-bottom: 0;
}

input[type=text i] {
  width: 100%;
}

.news-box__footer {
  overflow: hidden;
  overflow-x: overlay;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.footer-media {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  height: auto;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}

.footer-media:before,
.news-box__header-img:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
  transition: background-color 0.2s ease-out;
}

.footer-media.show:before,
.news-box__header-img.view:before {
  display: none;
}

.footer-media:hover:before,
.news-box__header-img:hover:before {
  background-color: rgba(60, 195, 253, 0.33);
  background-image: url(../images/icon/search-plus-solid.svg);
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-media.show {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: initial;
  border-bottom: initial;
  border-radius: initial;
  background-color: #231f20cb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  width: initial;
  min-width: initial;
  max-width: inherit;
}

body.white .footer-media.show {
  background-color: rgba(255, 255, 255, 0.8);
}

.news-box__footer .footer-media:last-child {
  margin-right: 0;
}

.news-box__footer img {
  width: 100%;
  height: 100%;
  min-height: 130px;
  object-fit: cover;
}

.footer-media.show img {
  width: auto;
  height: auto;
  max-width: 1500px;
  max-height: 900px;
  object-fit: contain;
}

.news-box__footer ul {
  display: flex;
  list-style: none;
}

.news-box__footer ul li {
  margin-bottom: 0;
}

.news-box__footer ul li:hover,
.news-box__footer ul li:focus {
  box-shadow: 0px 0px 6px rgba(60, 195, 253, 0.5);
}

.footer-media.show {
  margin-right: 0;
}

.switch-theme {
  display: flex;
  justify-content: center;
  min-width: 100px;
  color: #231f20;
  z-index: 5;
  background-color: #006bab;
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.switch-theme ul {
  display: flex;
}

.body.dark .btn-dark,
.body.white .btn-white {
  background: #231f20;
  color: #0694d4;
}

body.white {
  background-color: white;
}

body.white .news-box {
  color: #231f20;
}

.body.white .btn-white {
  background-color: white;
}

.body.white .header-title {
  color: white;
}

.body.white .logo-img svg {
  fill: white;
}

.switch-theme:hover {
  cursor: pointer;
}

.switch-theme span {
  display: flex;
  justify-content: center;
  padding: 3px 5px 0 5px;
  width: 100%;
}

.switch-theme span {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
}

body.white .switch-theme span {
  color: #231f20;
}

body.white {
  color: #231f20;
}

.header-nav,
.user-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 80%;
  max-width: 400px;
  background-color: #231f20;
  box-shadow: 20px 0px 100px black;
  display: none;
  opacity: 0;
  z-index: 8;
}

.header-nav.open,
.user-nav.open {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

body.white .header-nav,
body.white .user-nav {
  background-color: white;
}

.header-nav-btn,
.user-nav-btn {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  right: 0;
  width: 30px;
  height: 26px;
  cursor: pointer;
  z-index: 9;
  transition: 0.2s ease-out;
}

.user-nav,
.user-nav-btn {
  right: initial;
  left: 0;
}

.header-nav-btn div {
  width: 100%;
  height: 6px;
  border-radius: 2px;
  background-color: #231f20;
  margin: auto 0;
}

body.white .header-nav-btn div {
  background-color: white;
}

.header-nav-btn.open div {
  display: none;
  opacity: 0;
}

.header-nav-btn:before,
.header-nav-btn:after {
  content: "";
  position: absolute;
  height: 6px;
  border-radius: 2px;
  width: 100%;
  background-color: #231f20;
  transition: 0.2s ease-out;
}

body.white .header-nav-btn:before,
body.white .header-nav-btn:after {
  background-color: white;
}

.header-nav-btn:before {
  top: 0;
}

.header-nav-btn:after {
  bottom: 0;
}

.header-nav-btn.open,
.user-nav-btn.open {
  position: fixed;
  right: 20px;
}

.user-nav-btn.open {
  right: initial;
  left: 20px;
}

.header-nav-btn.open:before {
  top: 10px;
  transform: rotate(45deg);
}

.header-nav-btn.open:after {
  bottom: 10px;
  transform: rotate(-45deg);
}

.header-nav__header,
.user-nav__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  min-height: 100px;
  width: 100%;
  position: relative;
  background: #0694d4;
  background: linear-gradient(0deg, #3dc5ff 0%, #0694d4 100%);
}

.header-nav__main,
.user-nav__main {
  width: -webkit-max-content;
  width: max-content;
  margin: 40px 14px 20px 20px;
}

.header-nav__main div {
  margin-bottom: 20px;
}

.header-nav__main div:last-child {
  margin-bottom: 0;
}

.header-nav__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.logout {
  margin: 20px;
}

.main-box-nav {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.main-box-nav__header {
  position: relative;
}

.main-box-nav .login-telegram {
  min-width: initial;
  min-height: initial;
  position: initial;
  margin: 0;
}

.main-box-nav__main div {
  margin-bottom: 10px;
}

.main-box-nav__main div:last-child {
  margin-bottom: 0;
}

.main-box-nav .log-in-box {
  margin-bottom: 10px;
  text-align: justify;
  display: flex;
}

.main-box-nav .log-in-box img {
  display: none;
}

.main-box-nav .log-in-box span {
  text-align: justify;
  margin-left: 3px;
  font-size: 1.6rem;
  color: white;
}

body.white .main-box-nav .log-in-box span {
  color: #231f20;
}

.main-box-nav__footer .logout {
  margin: 10px 0;
}

.comment li {
  display: flex;
}

.user-img-box {
  position: relative;
  width: 70px;
  min-width: 70px;
  height: 70px;
  position: relative;
  background-color: #0694d4;
  background-image: url(../images/icon/man.svg);
  overflow: hidden;
  margin-right: 6px;
  border-radius: 6px;
}

body.white .user-img-box {
  background-image: url(../images/icon/manWhite.svg);
}

.user-img-box img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.user-name {
  display: flex;
  align-items: center;
  color: #0694d4;
  font-weight: 800;
  margin-right: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.comment ul {
  margin-top: 6px;
  padding: 6px;
}

.comment li {
  margin-bottom: 6px;
  position: relative;
}

.comment-box {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
}

.news-footer-menu li {
  display: flex;
}

.news-footer-menu a {
  padding: 5px;
  font-weight: 800;
  border-radius: 6px;
  margin-right: 10px;
  transition: 0.2s ease-out;
}

.news-footer-menu a:last-child {
  margin-right: 0;
}

.news-footer-menu a:hover,
.news-footer-menu a:focus,
.news-footer-menu a.active {
  background-color: rgba(60, 195, 253, 0.33);
}

.news-footer-menu a:hover,
.news-footer-menu a:focus {
  box-shadow: 0px 0px 6px rgba(60, 195, 253, 0.5);
}

.user-comment {
  font-size: 1rem;
  line-height: 1.3rem;
}

.user-comment p {
  margin-top: 10px;
}

.comment-this-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 26px;
  width: 100%;
}

.comment-this::placeholder {
  color: #231f20;
  font-family: "Segoe UI Regular", "Main", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.comment-this-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  transition: 0.2s ease-out;
  border-radius: 6px;
}

.comment-this-box a:hover,
.comment-this-box a:focus {
  background-color: rgba(60, 195, 253, 0.33);
  box-shadow: 0px 0px 6px rgba(60, 195, 253, 0.5);
}

.comment-this-box a svg {
  height: 16px;
  margin-right: 5px;
}

.comment-this-box a span {
  font-weight: 800;
}

.tab-menu-btn svg {
  margin-right: 3px;
}

.tab-menu-btn svg {
  width: 14px;
  height: 14px;
}

.user-name-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 82px;
}

.comment li {
  background-color: #231f20;
  border-radius: 6px;
  padding: 6px;
}

body.white .comment li {
  background-color: white;
}

.button-top {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 75px;
  height: 75px;
  background-color: rgba(60, 195, 253, 0.13);
  color: #0694d4;
  z-index: 3;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s ease-out;
}

.button-top.show {
  display: flex;
}

.button-top:hover {
  background-color: rgba(60, 195, 253, 0.33);
  box-shadow: 0px 0px 6px rgba(60, 195, 253, 0.5);
}

.button-top:active {
  button: 22px;
}

.button-top svg {
  width: 30px;
  height: auto;
}

@media (min-width: 769px) {
  .button-top {
    bottom: 20px;
    right: 20px;
  }
}
.body {
  overflow-x: overlay;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(60, 193, 255, 0.67);
}

::-webkit-scrollbar-thumb:hover {
  background: #0694d4;
}

.stat-box__search-news {
  display: none;
}

.stat-box__search-news.show {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.news-search {
  width: 600px;
  background-color: #231f20;
  z-index: 1;
  border-radius: 6px;
}

body.white .news-search {
  background-color: white;
}

.search-box {
  color: #0694d4;
  display: flex;
  justify-content: center;
  height: 27px;
  padding: 4px 42px 4px 8px;
  border-radius: 6px;
  overflow: hidden;
  background-color: rgba(60, 195, 253, 0.13);
}

.search-box.show {
  width: 100%;
}

.search-box input {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: #0694d4;
  padding: 0;
  width: 100%;
}

.search-box input::placeholder {
  color: #0694d4;
}

.search-news-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 6px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 26px;
  transition: 0.2s ease-out;
}

.search-news-btn:hover,
.search-news-btn:focus {
  background-color: rgba(60, 195, 253, 0.33);
  box-shadow: 0px 0px 6px rgba(60, 195, 253, 0.5);
}

.search-news-btn svg {
  height: 26px;
  margin: 0;
}

.news-search li:first-child {
  margin-top: 20px;
}

.div.news-search li:last-child {
  margin-bottom: 20px;
}

.news-search a span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: initial;
  padding-bottom: 2px;
}

.search-box svg {
  cursor: pointer;
}

div.paginator {
  margin-top: 20px;
}

.stat-box ul.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-max-content;
  width: max-content;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgba(60, 195, 253, 0.13);
}

.stat-box ul.pagination li {
  background-image: initial;
  background-size: initial;
  background-repeat: initial;
  margin-bottom: 0;
  background-color: initial;
}

.stat-box ul.pagination a {
  padding: 4px 8px;
  height: auto;
  background-color: initial;
  color: #0694d4;
  font-weight: bold;
}

.stat-box ul.pagination a:hover,
.stat-box ul.pagination a:focus {
  background-color: rgba(60, 195, 253, 0.33);
}

.stat-box ul.pagination a svg {
  height: 16px;
}

.stat-box .page-item.active a {
  background-color: rgba(60, 195, 253, 0.33);
  color: #00aeff;
}

.main-menu ul {
  border-radius: 6px;
  background-color: rgba(60, 195, 253, 0.13);
}

.main-menu svg {
  height: 18px;
  width: 18px;
  margin: 1px 5px 0 0;
}

.main-menu a {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.2s ease-out;
}

.main-menu a:hover,
.main-menu a:focus {
  background-color: rgba(60, 195, 253, 0.33);
  box-shadow: 0px 0px 6px rgba(60, 195, 253, 0.5);
}

@keyframes ship {
  0% {
    background-position: 30px 50px;
    background-size: 100px;
    padding-right: 100px;
  }
  100% {
    background-position: 30px 10px;
    background-size: 155px;
    padding-right: 0;
  }
}
@keyframes bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoomImg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes zoomoutImg {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.context {
  position: fixed;
  width: 200px;
  height: -webkit-max-content;
  height: max-content;
  background-color: #231f20;
  display: none;
  z-index: 99;
  border: 5px solid #0694d4;
  font-size: 12px;
  line-height: 14px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  cursor: default;
}

.context.show {
  display: flex;
}

.white .context {
  background-color: white;
}

.context ul {
  width: 100%;
}

.context ul li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.disabled-element {
  position: relative;
  z-index: -1;
}

.disabled-element::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #231f20cb;
  cursor: not-allowed;
}

body.white .disabled-element::before {
  background-color: rgba(255, 255, 255, 0.8);
}

.not-found-box {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.not-found-box img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.not-found-text {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.not-found-title {
  font-size: 3rem;
  font-weight: bold;
  color: #006bab;
}

.not-found-des {
  font-size: 1.8rem;
  color: #3dc5ff;
}

.range-box {
  width: 110px;
  height: 16px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  transition: 0.2s ease-out;
}

.range-box span {
  color: #0694d4;
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 14px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.text-range {
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  background-color: #0693d441;
  margin: 0;
  cursor: pointer;
}

.text-range::-webkit-slider-runnable-track {
  height: 15px;
  -webkit-appearance: none;
  color: rgba(60, 193, 255, 0.67);
  margin-top: -1px;
}

.text-range::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 16px;
  border: none;
  cursor: ew-resize;
  background: #006bab;
  box-shadow: -80px 0 0 80px rgba(60, 193, 255, 0.67);
}

.text-range::-moz-range-progress {
  background-color: rgba(60, 193, 255, 0.67);
}

.text-range::-moz-range-track {
  background-color: #0693d441;
}

.text-range::-ms-fill-lower {
  background-color: rgba(60, 193, 255, 0.67);
}

.text-range::-ms-fill-upper {
  background-color: #0693d441;
}

.news-box__header-title .box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 10px;
}

.range-box:hover,
.range-box:focus {
  box-shadow: 0px 0px 6px rgba(60, 195, 253, 0.5);
}

@media (max-width: 1280px) {
  .news-box__header-img,
.news-render iframe {
    max-width: 300px;
    min-width: 300px;
    height: 200px;
  }
}
@media (max-width: 1024px) {
  .stat-box__news,
.stat-box__last-news {
    flex-direction: column-reverse;
  }

  .stat-box__news .div,
.stat-box__last-news .div {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .stat-box__news .div:first-child,
.stat-box__last-news .div:first-child {
    margin-bottom: 0;
  }

  .news-search {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header-box {
    flex-direction: column;
    align-items: center;
  }

  .header-title {
    bottom: -70px;
    right: initial;
    color: #0694d4;
    left: inherit;
    flex-direction: column;
    margin-right: initial;
  }

  .logo-img {
    background-position: 50px 5px;
  }

  .body.white .header-title {
    color: #0694d4;
  }

  .news-box__header-img {
    float: none;
    max-width: 100%;
    min-width: initial;
    width: 100%;
    height: 300px;
    margin: 0;
  }

  .news-box .news-box__header-img {
    margin: 0;
  }

  .footer-box {
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding: 0 20px;
  }

  .news-box__header-img.view img {
    width: 100%;
    height: 100%;
  }

  .main-box {
    padding: 100px 0;
  }

  .footer {
    margin-bottom: 100px;
  }

  .footer-box p {
    margin: 15px 0;
  }

  .comment ul li {
    display: block;
  }

  .comment ul li:after {
    content: "";
    display: block;
    clear: both;
  }

  ul.footer-box li {
    margin: 0 0 10px 0;
  }

  .box-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .user-img-box {
    float: left;
  }

  .comment-box {
    display: block;
  }

  .news-box__header-title h2 {
    margin-top: 15px;
  }

  .count-description {
    display: none;
  }

  .stat-box__search-news.show {
    position: fixed;
    z-index: 4;
    padding: 20px;
    bottom: 0;
    background-color: #231f20;
  }

  body.white .stat-box__search-news.show {
    background-color: white;
  }

  .news-search li:first-child {
    margin-top: 0;
  }

  .div.news-search li:last-child {
    margin-bottom: 0;
  }

  .box-scroll {
    height: calc(100% - 55px);
    overflow: hidden;
    overflow-y: auto;
    margin: 20px 0;
    border-radius: 6px;
  }

  .stat-box.search .search-news-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 4;
  }

  .not-found-box {
    margin-top: 100px;
  }

  .footer-media.show img {
    width: 100%;
    height: 100%;
  }

  .count-title {
    font-size: 0.9rem;
    line-height: 1rem;
    padding-bottom: 0;
  }

  .user-img-box {
    width: 33px;
    min-width: 33px;
    height: 33px;
  }

  .user-name-box {
    left: 46px;
  }

  .news-render iframe {
    max-width: 100%;
    min-width: initial;
    width: 100%;
    height: 200px;
  }

  .profile-box {
    display: flex;
    flex-direction: column;
  }

  .menu-profile {
    margin-right: initial;
    margin-bottom: 20px;
  }

  .user-buttons ul {
    display: block;
  }

  .user-buttons ul li {
    margin-right: initial;
    margin-bottom: 6px;
  }

  .user-buttons ul li:last-child {
    margin-bottom: 0;
  }

  .user-post-ul li {
    margin-bottom: 20px;
  }

  .user-post-ul:last-child {
    margin-bottom: 0;
  }

  .btn-box ul {
    flex-direction: column;
    align-items: center;
    width: -webkit-max-content;
    width: max-content;
  }

  .btn-box li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .btn-box li:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 520px) {
  .header-title {
    transform: scale(0.7);
    bottom: -70px;
  }

  .main-box {
    display: flex;
    flex-direction: column;
  }

  .news-box .news-box__header-img {
    height: 200px;
  }
}
@media print {
  .header-nav,
.news-box__header-img {
    display: none;
  }

  .header {
    height: 0;
  }

  .body {
    color: black;
  }

  .header-log,
.footer,
.news-footer-box {
    display: none;
  }
}