/* Error: (min-width: 769px) isn't a valid CSS value.
 *   ,
 * 9 | @media ((min-width: 769px),(max-width: 1024px)) {
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   d:\nextcloud\devops\github\snw\arxnews.github.io\seafarers\scss\_mobile.scss 9:9  @import
 *   d:\nextcloud\devops\github\snw\arxnews.github.io\seafarers\scss\style.scss 17:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: (min-width: 769px) isn't a valid CSS value.\a   \2577 \a 9 \2502  @media ((min-width: 769px),(max-width: 1024px)) {\d\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   d:\\nextcloud\\devops\\github\\snw\\arxnews.github.io\\seafarers\\scss\\_mobile.scss 9:9  @import\a   d:\\nextcloud\\devops\\github\\snw\\arxnews.github.io\\seafarers\\scss\\style.scss 17:9   root stylesheet";
}
